# Virtual environment
.venv/**

# Executables and binaries
*.bin
*.pyc

# Documentation and references
README.docx
references/Watkins02 Fundamentals of matrix computations.pdf

# Generated data and output files
codes/matmat/output.csv
codes/matvec/output.csv

# Image and PDF directories
pdf_images/**
split_pdfs/
dtrsv.exe
dtrsv.cpp
codes/dtrsv.csv
dtrsv.csv
